[user]
    name = Alexander Heldt
    email = me@alexanderheldt.se

[core]
    editor = "vim"

[url "git@github.com:"]
    insteadOf = https://github.com/

[url "git@gitlab.com:"]
    insteadOf = https://gitlab.com/

